<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./assets/css/style.css">
  <title>Vue Fundamental</title>
</head>

<body>
  <div id="app">
    <div v-if="todos.length" class="list">
      <ol>
        <li v-for="todo in todos">{{ todo }}</li>
      </ol>
    </div>
    <div v-else class="list-empty">
      <p>Todo masih kosong.</p>
    </div>
    <div class="input-field">
      <input v-model="todo" @keyup.enter="addTodo" type="text" />
      <button @click="addTodo">Tambahkan</button>
    </div>
    <div class="message">
      <p v-if="isEmpty" class="error-empty">Input todo tidak boleh kosong!</p>
      <p v-if="todos.length >= 4">Hebat!</p>
    </div>
  </div>

  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

  <script type="module">
    import {createApp, ref} from 'vue';

    createApp({
      setup() {
        const todo = ref('');
        const todos = ref([]);
        const isEmpty = ref(false);

        const validation = () => {
          todo.value ? (isEmpty.value = false) : (isEmpty.value = true);
        };

        const addTodo = () => {
          validation();
          if (!isEmpty.value) {
            todos.value.push(todo.value);
            todo.value = '';
          }
        };

        return {
          todo,
          todos,
          isEmpty,
          validation,
          addTodo,
        };
      },
    }).mount('#app');
  </script>
</body>

</html>