<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Fundamental</title>
</head>

<body>
  <div id="app">
    <ol>
      <li v-for="todo in todos">{{ todo }}</li>
    </ol>
    <p>{{ errorMessage }}</p>
    <input type="text" v-model="todo" @keyup.enter="addTodo(todo)">
    <button @click="addTodo(todo)" type="submit">Tambahkan</button>
    <p v-if="todos.length >= 4">{{ message }}</p>
  </div>

  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

  <script type="module">
    import { createApp, ref } from 'vue'

    createApp({
      setup() {
        const todo = ref('');
        const todos = ref([]);
        const message = ref('Hebat!');
        const errorMessage = ref('');
        const addTodo = (activity) => {
          if (!activity) {
            errorMessage.value = 'Input todo tidak boleh kosong!'
          } else {
            todos.value.push(activity);
            todo.value = '';
            errorMessage.value = '';
          }
        }
        return {
          todo, todos, message, errorMessage, addTodo
        }
      }
    }).mount('#app')
  </script>
</body>

</html>