.container {
  display: flex;
}

.content {
  height: 50px;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#purple {
  background-color: purple;
}

#grey {
  background-color: grey;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content {
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .content {
    width: 33.3%;
  }
}
